$frist : #6E9C9F;
$black :#000000;
$table: 1110px;
$table2: 956px;
$mobile: 600px;
$br: 4px;
$trs : 0.3s;
@import'./compers/nav.scss';
@import'./compers/index_header.scss';
@import'./compers/main.scss';
@import'./compers/footer.scss';

.couterner {
    max-width: 1100px;
    ;
    padding: 0px 32px;
    margin: 0 auto;
}

h2 {
    margin: 0;
}